apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tokenginx-data
  namespace: tokenginx
  labels:
    app: tokenginx
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ssd
