---
apiVersion: v1
kind: Service
metadata:
  name: tokenginx
  namespace: tokenginx
  labels:
    app: tokenginx
spec:
  type: ClusterIP
  ports:
  - name: tcp-resp
    port: 6380
    targetPort: 6380
    protocol: TCP
  - name: grpc
    port: 9090
    targetPort: 9090
    protocol: TCP
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: tokenginx
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

---
apiVersion: v1
kind: Service
metadata:
  name: tokenginx-headless
  namespace: tokenginx
  labels:
    app: tokenginx
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: tcp-resp
    port: 6380
    targetPort: 6380
    protocol: TCP
  - name: grpc
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: tokenginx

---
apiVersion: v1
kind: Service
metadata:
  name: tokenginx-metrics
  namespace: tokenginx
  labels:
    app: tokenginx
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9100"
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9100
    targetPort: 9100
    protocol: TCP
  selector:
    app: tokenginx
